<h2>Hi there <span>&#128075;</span></h2>

<p>For {{ age }} years I had been a musician when in 2020 I discovered a new passion: coding.</p>

<br>

<p>What you might find here:</p>

{{#badges}}
  <img alt="{{{ alt}}}" src="{{{src}}}"/>
{{/badges}}
